---
layout: base-layout.njk
---
<header class="sticky top-0 z-50 border-b border-line/70 bg-mauve-100/85 backdrop-blur w-full h-[50px] flex items-center">
  <nav class="app-container flex items-center gap-4 justify-between">
    <div>Belladerma</div>
    <ul class="flex items-center gap-4">
      <li><a href="#">Начало</a></li>
      <li><a href="#">За нас</a></li>
      <li><a href="#">Процедури</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="h-[50vh] min-h-[300px] bg-zinc-800 text-white">
    <div class="app-container flex items-center justify-start h-full">
      <div>
        <h1 class="text-5xl">Ти, в най-добрата си версия</h1>
        <h2 class="text-xl">Персонална грижа и иновативни решения за твоята увереност всеки ден</h2>
      </div>
    </div>
  </section>
</main>
